@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
html,
body {
  background-color: #e8e8fd;
  font-family: "Poppins", sans-serif !important;
}

.text-desc {
  color: #62618f;
  font-weight: normal !important;
  font-size: 14px;
}

.btn-border {
  border: 1px solid #cbcbd9 !important;
  border-radius: 8px !important;
}

.outer-layer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer-layer .card-wrapper {
  position: relative;
  z-index: 0;
}
.outer-layer .card-wrapper::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  width: 276px;
  background-color: #EE4D38;
  border-radius: 46px;
  z-index: -999;
}

aside {
  background-color: #f8f8ff;
  border-top-left-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;
  position: relative;
}
aside .side-header img {
  min-width: 40px;
}
aside .side-body .link-item {
  width: 100%;
}
aside .side-body .link-item:last-child {
  margin-top: auto;
  position: absolute;
  bottom: 10px;
}
aside .side-body .link-item a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
  transition: 0.3s all ease;
}
aside .side-body .link-item a.active {
  padding-left: 20px;
}
aside .side-body .link-item a.active img,
aside .side-body .link-item a.active span:last-child {
  transition: 0.3s all ease;
  filter: brightness(0) saturate(100%) invert(7%) sepia(76%) saturate(2488%) hue-rotate(234deg) brightness(99%) contrast(97%);
}
aside .side-body .link-item a.active::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 80%;
  background-color: red !important;
  left: -5px;
  border-radius: 20px;
  margin-right: 10px;
}
aside .side-body .link-item a img {
  min-width: 32px;
}

main {
  background: linear-gradient(304.24deg, #f8f8ff 0%, #ffffff 86.71%);
  box-shadow: 0px 49px 32px -19px rgba(56, 56, 150, 0.15);
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  height: auto;
}
main .toggle-wrapper {
  display: none;
}
main .toggle-wrapper .toggle {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
main .toggle-wrapper .toggle.active span:nth-child(1) {
  width: 40px;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s;
}
main .toggle-wrapper .toggle.active span:nth-child(2) {
  width: 40px;
  transform: translateY(0px) rotate(315deg);
  transition-delay: 0.25s;
}
main .toggle-wrapper .toggle.active span:nth-child(3) {
  transform: translateX(60px);
}
main .toggle-wrapper .toggle span {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #adadff;
  border-radius: 4px;
  transition: 0.5s transform ease;
}
main .toggle-wrapper .toggle span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
  left: 15px;
}
main .toggle-wrapper .toggle span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  left: 15px;
}
main table {
  width: 100%;
}
main table td,
main table th {
  padding: 15px 15px 15px 0;
  text-align: left;
  font-weight: 500;
}
main table thead tr th {
  color: #62618F;
}
main table tbody tr:hover {
  background: #ffffff;
  box-shadow: 0px 8px 19px rgba(223, 223, 253, 0.6);
  border-radius: 100%;
}
main table tbody tr:hover a {
  transform: translateX(10px);
}
main table tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
main table tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
main table tbody tr td a {
  transition: 0.6s transform ease;
  min-width: 75%;
}
main .payment-method-wrapper span {
  font-weight: 500;
}
main .payment-method-wrapper a {
  margin-left: auto;
}
main .payment-method-wrapper img {
  max-width: 64px;
}
main .plan-wrapper {
  background-color: #EE4D38;
  max-width: 258px;
  display: flex;
  min-height: 221px;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}
main .plan-wrapper a {
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  border-radius: 8px !important;
}

@media (max-width: 1170px) {
  .outer-layer aside .side-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .outer-layer aside .side-body .link-item:last-child a {
    display: block;
  }
  .outer-layer aside .side-body .link-item a {
    justify-content: center;
  }
  .outer-layer aside .side-body .link-item a span:last-child {
    display: none;
  }
  .outer-layer main .plan-wrapper {
    max-width: 100%;
    text-align: center;
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .outer-layer {
    display: block;
    overflow: hidden;
  }
  .outer-layer .card-wrapper::before {
    content: none;
  }
  .outer-layer .card-wrapper aside {
    display: block;
    position: fixed;
    min-width: 270px;
    top: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transform: translate(-100%);
    transition: 1s all ease;
  }
  .outer-layer .card-wrapper aside.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0px);
    -webkit-box-shadow: 11px 0px 26px -7px rgb(219, 219, 219);
    -moz-box-shadow: 11px 0px 26px -7px rgb(219, 219, 219);
    box-shadow: 11px 0px 26px -7px rgb(219, 219, 219);
  }
  .outer-layer .card-wrapper aside .side-header {
    justify-content: flex-start;
  }
  .outer-layer .card-wrapper aside .side-header img {
    min-width: 24px;
  }
  .outer-layer .card-wrapper aside .side-body .link-item:last-child a {
    display: flex;
  }
  .outer-layer .card-wrapper aside .side-body .link-item a {
    justify-content: flex-start;
  }
  .outer-layer .card-wrapper aside .side-body .link-item a span {
    display: block;
  }
  .outer-layer .card-wrapper main {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .outer-layer .card-wrapper main .toggle-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

/*# sourceMappingURL=style.css.map */
